<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail Product</title>
</head>
<body>
<h1>Chi tiết sản phẩm</h1>
<form action="add" method="post" th:object="${product}">
    <p>ID:</p>
    <p th:text="${product.id}" th:field="*{id}"></p>
    <input type="hidden" th:field="*{id}" th:value="${product.id}">
    <p>Name:</p>
    <p th:text="${product.name}" th:field="*{name}"></p>
    <input type="hidden" th:field="*{id}" th:value="${product.name}">
    <p>Price:</p>
    <p th:text="${product.price}" th:field="*{price}"></p>
    <input type="hidden" th:field="*{id}" th:value="${product.price}">
    <p>Detail:</p>
    <p th:text="${product.detail}" th:field="*{detail}"></p>
    <input type="hidden" th:field="*{id}" th:value="${product.detail}">
    <p>Nhập số lượng muốn mua</p>
    <input type="text" th:field="*{quantity}">
    <button type="submit">Add</button>
</form>

</body>
</html>